<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressoras</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/features/">
    <link rel="shortcut icon" href="../assets/marca.ico" type="image/x-icon">

    <!-- Custom styles for this template -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
 
    <%- include('./partials/header.ejs') %>

    <div class="p-lg-5 mb-2 bg-light">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bem vindo à Intranet da {TI} da Sudesb</h1>
            <p class="lead">Veja abaixo a relação das impressoras:</p>
            <hr>
        </div>

        <div class="row mb-2 d-flex flex-wrap">
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">T.I.</h3>
                        <p class="card-text">Impressora do Dpto de T.I.</p><br>
                        <p>RICOH: <strong>SP 377SFNwX</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://192.168.0.15" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title text-danger fw-bold">FINANCEIRO</h3>
                        <p class="card-text">Impressora Dpto Financeiro</p>
                        <p>RICOH: <strong>SP 377SFNwX</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://[fe80::226:73ff:fece:f368]" target="_blank" class="btn btn-danger">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">CONTAB.</h3>
                        <p class="card-text">Impressora da CONTROLADORIA</p>
                        <p>RICOH: <strong> ****** </strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center ">
                        <a href="*" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">AGÊNCIA</h3>
                        <p class="card-text">Impressora do Dpto de Marketing</p>
                        <p>OKI: <strong>*****</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="**" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">JURÍDICO</h3>
                        <p class="card-text">Impressora do Dpto. Jurídico</p>
                        <p>OKI: <strong>Tombo 9947</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="*" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">COSEG</h3>
                        <p class="card-text">Impressora da COSEG.</p>
                        <p>Samsung: <strong>Tombo 16218</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://10.46.12.200" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div> -->
            </div>
            <!--</div>
        <div class="row mt-3">-->
            <!-- <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">DAF</h3>
                        <p class="card-text">Impressora da DAF.</p><br>
                        <p>OKI: <strong>Tombo 15898</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://10.46.12.26" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">DFE</h3>
                        <p class="card-text">Impressora da DFE.</p><br>
                        <p>OKI: <strong>Tombo 9923</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://10.46.12.21" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">DFE 2</h3>
                        <p class="card-text">Impressora da Cerel/Cape/Cede.</p>
                        <p>OKI: <strong>Tombo 9923</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://10.46.12.35" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">DIGER</h3>
                        <p class="card-text">Impressora da DIGER.</p>
                        <p>OKI: <strong>Tombo 13144</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://10.46.12.23" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title text-danger fw-bold">DIGER Color</h3>
                        <p class="card-text">Impressora Colorida da DIGER.</p>
                        <p>OKI Color: <strong>Tombo 10556</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://10.46.12.24" target="_blank" class="btn btn-danger">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">DOE</h3>
                        <p class="card-text">Impressora da DOE.</p><br>
                        <p>OKI: <strong>Tombo 9946</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://10.46.12.25" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div>
            </div> -->
            <!--</div>
    <div class="row mt-3">-->
            <!-- <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title text-danger fw-bold">DOE Color</h3>
                        <p class="card-text">Impressora Colorida da DOE.</p>
                        <p>OKI Color: <strong>Tombo 12461</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://10.46.12.28" target="_blank" class="btn btn-danger">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">EXPEDIENTE</h3>
                        <p class="card-text">Impressora do Expediente/Diger.</p>
                        <p>OKI: <strong>Tombo 9920</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://10.46.12.29" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">PROJUR</h3>
                        <p class="card-text">Impressora da PROJUR.</p><br>
                        <p>OKI: <strong>Tombo 9924</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://10.46.12.15" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3 col-xxl-2 mb-3">
                <div class="card position-relative shadow-lg" style="height: 16rem;">
                    <div class="card-body">
                        <h3 class="card-title fw-bold">PROTOCOLO</h3>
                        <p class="card-text">Impressora do PROTOCOLO.</p>
                        <p>OKI: <strong>Tombo 9944</strong></p>
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <a href="http://10.46.12.30" target="_blank" class="btn btn-primary">Acessar Impressora</a>
                    </div>
                </div>
            </div> -->
            <div class="row mt-4">
                <div class="d-grid col-2">
                    <a href="http://10.46.12.19/info/" class="btn btn-outline-primary">
                        <i class="bi bi-arrow-left-circle-fill"></i>
                        <i>Voltar para o início</i></a>
                </div>
            </div>

        </div>


        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
</body>

</html>